body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    padding: 20px;
    transition: background 0.3s, color 0.3s;
}

header { text-align: center; margin-bottom: 30px; }

.theme-controls { margin-top: 10px; }

.controls {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

#products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.price { font-weight: bold; color: #28a745; font-size: 1.2rem; }

.btn-fav {
    background: #ffc107;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}


.card-favorito { border: 2px solid #ffc107; background: #fffdf5; }


body.dark-mode { background-color: #1a1a1a; color: #f8f9fa; }
.dark-mode .product-card, .dark-mode .controls { 
    background-color: #2d2d2d; 
    border-color: #444; 
}
.dark-mode .card-favorito { background-color: #3a3520; }