body {
  background-color: #111;
  color: #eee;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  background: #222;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  background: #333;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #555;
}

.secreto {
  cursor: pointer;
  border: 2px solid transparent;
  padding: 3px 6px;
}

.secreto:hover {
  border-color: green;
}

#contenido {
  background: #1e1e1e;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 0 auto;
}
